<ion-header>
</ion-header>

<ion-content padding>
  <div *ngFor="let msg of mensagens" [attr.class]="msg.isWatson ? 'msgWatson' : 'msgUsuario'">
    <p class="msgRemetente">{{msg.isWatson ? 'OiMãe:' : 'Você:'}}</p>
    <p class="msgEnviada">{{msg.mensagem}}</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input type="text" placeholder="Digite sua mensagem..." [(ngModel)]="chatbot_mensagem"></ion-input>
    <div class="btn-enviar-msg center" (click)="sendMessage()">
        Enviar
    </div>
  </ion-toolbar>
</ion-footer>
